body {
    font: 13px/1.4 Helvetica,arial,freesans,clean,sans-serif;
    overflow: overflow;
    background-color: #F6F4EC;
}

code {
    margin: auto;
    padding: 5px;
    font: 15px Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
    margin-bottom: 10px;
    background-color: #EEE;
    overflow: auto;
    width: 300px;
    max-height: 600px;
    background-color: #EEE;
    display: block;
}

canvas {
    width: 400px;
    height: 400px;
    border: solid;
}

.container {
    margin: auto;
    width: 500px;
}

.lineUp {
    width: 400px;
}

.buttons {
    float: left;
}

#code {
    float: left;
    width: 400px;
    height: 300px;
}

#container {
    margin: auto;
    width: 600px;
}