<!DOCTYPE html>
<html>
    <head>
        <title>Control your robot from the web!</title>
        <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    </head>
    <body>
        <form id='logoForm' onSubmit='return false;'>
            <canvas id='logo'></canvas>
            <textarea id='code'></textarea><button for='code' id='run'>Run</button>
            <button id='clear'>Clear</button>
            <button id='driver'>Drive BrickPi</button>
        </form>
        <script type="text/javascript" src='static/javascript/bundle.js'></script>
    </body>
</html>