<!DOCTYPE html>
<html>
    <head>
        <title>Control your robot from the web!</title>
        <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    </head>
    <body>
        <div id=container>
            <form id='logoForm' onSubmit='return false;'>
                <div class='lineUp'>
                  <canvas id='logo'></canvas>
                  <textarea id='code'></textarea><button class='buttons' for='code' id='run'>Run</button>
                  <button class='buttons' id='clear'>Clear</button>
                  <button class='buttons' id='driver'>Drive BrickPi</button>
                </div>
            </form>
        </div>
        <script type="text/javascript" src='static/javascript/bundle.js'></script>
    </body>
</html>